################################################################################
#
# Resource file of custom package tutorial
#
################################################################################


module -name     "Compute Threshold Tutorial" \
       -primary  "HxUniformScalarField3" \
       -class    "CCPiComputeThreshold" \
       -category "Local" \
       -package  "tutorial"


module -name     "K-Means Filter ITK" \
       -primary  "HxUniformScalarField3" \
       -class    "CCPiKMeansFilterITK" \
       -category "Local" \
       -package  "tutorial"



module -name     "Accessible volume calculation" \
       -primary  "HxUniformScalarField3" \
       -class    "CCPiAccessibleVolume" \
       -category "Local" \
       -package  "tutorial"


module -name     "Quantification for labelled image" \
       -primary  "HxUniformScalarField3" \
       -class    "CCPiLabelQuantification" \
       -category "Local" \
       -package  "tutorial"


module -name     "Particle Tracking" \
       -primary  "HxUniformScalarField3" \
       -class    "CCPiParticleTracking" \
       -category "Local" \
       -package  "tutorial"
