################################################################################
#
# Resource file of custom package CCPi
#
################################################################################


module -name     "Particle Tracking (CCPi)" \
       -primary  "HxUniformScalarField3" \
       -class    "CCPiParticleTracking" \
       -category "CCPi" \
       -package  "CCPi" \
       -icon     "TVDefCompute"


module -name     "Accessible Volume (CCPi)" \
       -primary  "HxUniformScalarField3" \
       -class    "CCPiAccessibleVolume" \
       -category "CCPi" \
       -package  "CCPi" \
       -icon     "TVDefCompute"


module -name     "K-means Filter (ITK)" \
       -primary  "HxUniformScalarField3" \
       -class    "CCPiKMeansFilterITK" \
       -category "CCPi" \
       -package  "CCPi" \
       -icon     "TVDefCompute"


module -name     "3D Quantification (CCPi)" \
       -primary  "HxUniformScalarField3" \
       -class    "CCPiLabelQuantification" \
       -category "CCPi" \
       -package  "CCPi" \
       -icon     "TVDefCompute"


module -name     "CCPI Simple Histogram Thresholding" \
       -primary  "HxUniformScalarField3" \
       -class    "CCPiSimpleHistogramThresholding" \
       -category "CCPi" \
       -package  "CCPi" \
       -icon     "TVDefCompute"
